html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  color: var(--color-font);
  background-color: var(--color-bg);
}

a {
  color: var(--color-font-link);

  &:hover,
  &:focus {
    color: var(--color-font-link-hover);
  }
}

hr {
  border-top-color: var(--color-border);
}

.layout--default {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
